@page
@model ADHD_App.Pages.AppointmentDetailsModel
@{
    ViewData["Title"] = "Afspraak";
}


<div class=" Appointment-box">
    <table>
        <tr><td><h1>@Model.app.Name </h1></td></tr>
        <tr><td><a>Date: @Model.app.Start.ToString("M")</a></d></tr>
        <tr><td><a>starts at: @Model.app.Start.ToString("HH:mm") </a></td></tr>
        <tr><td><a>ends at: @Model.app.End.ToString("HH:mm")</a></td></tr>
        <tr><td><a>@Model.app.Description </a></td></tr>
        <tr><td><button type="button" onclick="btnDelete_Click">Delete</button></td></tr>
    </table>
</div>
