@page
@model CalendarModel
@{
    ViewData["Title"] = "Calendar";
}
<partial name="ctaskbar" />
@{
    DateTime Date = Model.SelectedDate;
    int I = Model.I;
    int UID = int.Parse(Request.Cookies["id"]);
}
<div class="Agenda">
    <td>
        <h2 style="width: 300px"></h2> 
        <h2>Agenda</h2> 
    </tr>
</div>

<div class="date-selecter">
    <h5><b>De week van @(Date.ToString("dddd dd MMM yyyy"))</b></h5>
    @{for(int i = 0; i<7; i++)
    {
            <a href="Calendar?i=@(I+i)">@((Date.AddDays(i)).ToString("dddd dd MMM yyyy"))</a>
    }}
    <a style="background-color:#72CDF7" href="Calendar?i=@(I+7)">Volgende Week</a>
    <a style="background-color:#72CDF7" href="Calendar?i=@(I-7)">Vorige Week</a>
</div>

<div class="calendar-box">
    <h3><b>Dit zijn je afspraken van @Date.ToString("dddd dd MMM yyyy")</b></h3>

    @{
        foreach (var app in Model.Appointments)
        {
            if (app.Start.Date == Date.Date && app.UID == UID)
            {
                <tr>
                    <td><a href= "AppointmentDetails?ID=@app.ID">
                        <div class="date">
                            <p>@app.Start.ToString("HH:mm") - @app.End.ToString("HH:mm")</p>
                            <p>@app.Start.ToString("ddd dd MMM yyyy")</p>
                        </div>
                        <p class="date">@app.Name</p>
                        <p class="energy">🗲: @app.EnergyCost</p>
                    </a></td>
                </tr>
            }
        }
        <tr>
            <td>
                <a href="AddAppointment" style="background-color:; text-align"><p style="width:20vh"></p>Voeg een afspraak toe</a>
            </td>
        </tr>
        }

</div>
